<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="row">

                <!-- Footer Column -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_about">
                        <div>
                            <a href="#">
                                <div class="logo_container d-flex flex-row align-items-start justify-content-start">
                                    <div class="logo_image"><div><img src="images/logo.png" alt=""></div></div>
                                    <div class="logo_content">
                                        <div id="logo_text" class="logo_text logo_text_not_ie">The Conference</div>
                                        <div class="logo_sub">August 25, 2018 - Miami Marina Bay</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="footer_about_text">
                            <p>Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-lg-3 footer_col">
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Speakers</a></li>
                            <li><a href="#">Event Dates</a></li>
                            <li><a href="#">Information</a></li>
                            <li><a href="#">Calendar</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-lg-3 footer_col">
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Logistics</a></li>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Price Plans</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-lg-2 footer_col">
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Speakers</a></li>
                            <li><a href="#">Event Dates</a></li>
                            <li><a href="#">Information</a></li>
                            <li><a href="#">Calendar</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer_extra">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_extra_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
                        <div class="footer_social">
                            <div class="footer_social_title">Follow us on Social Media</div>
                            <ul class="footer_social_list">
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer_extra_right ml-lg-auto text-lg-right">
                            <div class="footer_extra_links">
                                <ul>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Privacy</a></li>
                                </ul>
                            </div>
                            <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>

<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<script th:src="@{styles/bootstrap4/popper.js}"></script>
<script th:src="@{styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{plugins/easing/easing.js}"></script>
<script th:src="@{plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{js/custom.js}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>