<div th:include="header.html" xmlns:th="http://www.w3.org/1999/xhtml">
</div>
<div class="home">
	<!-- <div class="home_background" style="background-image: url(images/index.jpg)"></div> -->
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/index.jpg" data-speed="0.8"></div>

<div th:include="header2.html" xmlns:th="http://www.w3.org/1999/xhtml">
</div>

<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">

							<div class="home_title">Events</div>
							<div class="home_location">Miami Marina Bay, FL</div>
							<div class="home_text">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
							<div class="home_buttons">
								<div class="button home_button"><a href="#">Book for your events Now!</a></div>
								<div class="button home_button"><a href="#">Find out more</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Available  Events-->

<div class="box" >
	<div class="container">
		<div class="row" >

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" th:each="event:${eventList}">

				<div class="box-part text-center">

					<i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

					<div class="title">
						<h4 th:text="${event.eventName}"></h4>
					</div>
					<div class="text">
						<h3 th:text="${event.eventDate}"></h3>
					</div>
					<div class="text">
						<h4 th:text="${event.eventLocation}"></h4>
					</div>

					<div >
						<span th:utext="${event.eventDescription}"></span>
					</div>

					<a href="#">Register</a>

				</div>
			</div>





		</div>
	</div>
</div>

	<!-- Pricing -->

	<div class="pricing">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/pricing.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="pricing_section_title">Choose a plan</div>
				</div>
			</div>
			<div class="row pricing_row">
				
				<!-- Pricing Item -->
				<div class="col-lg-4 pricing_col">
					<div class="pricing_item">
						<div class="pricing_item_content">
							<div class="pricing_level">Beginner</div>
							<div class="pricing_price">Free</div>
							<ul class="pricing_list">
								<li>3 Conference Tickets</li>
								<li>Vip Table</li>
								<li>Drinks</li>
								<li>Special PASS</li>
								<li>VIP Dinner</li>
							</ul>
							<div class="pricing_info">
								<a href="#">i</a>
							</div>
							<div class="button pricing_button"><a href="#">Order plan</a></div>
						</div>
					</div>
				</div>

				<!-- Pricing Item -->
				<div class="col-lg-4 pricing_col">
					<div class="pricing_item pricing_item_mid">
						<div class="pricing_item_content">
							<div class="pricing_level">recommended</div>
							<div class="pricing_price">$29<span>90</span></div>
							<ul class="pricing_list">
								<li>3 Conference Tickets</li>
								<li>Vip Table</li>
								<li>Drinks</li>
								<li>Special PASS</li>
								<li>VIP Dinner</li>
							</ul>
							<div class="pricing_info">
								<a href="#">i</a>
							</div>
							<div class="button pricing_button"><a href="#">Order plan</a></div>
						</div>
					</div>
				</div>

				<!-- Pricing Item -->
				<div class="col-lg-4 pricing_col">
					<div class="pricing_item">
						<div class="pricing_item_content">
							<div class="pricing_level">Professional</div>
							<div class="pricing_price">$59<span>90</span></div>
							<ul class="pricing_list">
								<li>3 Conference Tickets</li>
								<li>Vip Table</li>
								<li>Drinks</li>
								<li>Special PASS</li>
								<li>VIP Dinner</li>
							</ul>
							<div class="pricing_info">
								<a href="#">i</a>
							</div>
							<div class="button pricing_button"><a href="#">Order plan</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Calendar -->

	<div class="calendar">
		<div class="container reset_container">
			<div class="row">
				<div class="col-xl-6 calendar_col">
					<div class="calendar_container">
						<div class="calendar_title_bar d-flex flex-row align-items-center justify-content-start">
							<div><div class="calendar_icon"><img src="images/calendar.svg" alt=""></div></div>
							<div class="calendar_title">22 april events calendar</div>
						</div>
						<div class="calendar_items">
							
							<!-- Calendar Item -->
							<div class="calendar_item d-flex flex-row align-items-center justify-content-start">
								<div><div class="calendar_item_image"><img src="images/event_1.jpg" alt=""></div></div>
								<div class="calendar_item_time">
									<div>14:00</div>
									<div>Auditorium</div>
								</div>
								<div class="calendar_item_text">
									<div>Business 101</div>
									<div>08 AM - 04 PM</div>
									<div>Speaker: Daniel Hill</div>
								</div>
							</div>

							<!-- Calendar Item -->
							<div class="calendar_item d-flex flex-row align-items-center justify-content-start">
								<div><div class="calendar_item_image"><img src="images/event_2.jpg" alt=""></div></div>
								<div class="calendar_item_time">
									<div>15:00</div>
									<div>Auditorium</div>
								</div>
								<div class="calendar_item_text">
									<div>About technology</div>
									<div>08 AM - 04 PM</div>
									<div>Speaker: Daniel Hill</div>
								</div>
							</div>

							<!-- Calendar Item -->
							<div class="calendar_item d-flex flex-row align-items-center justify-content-start">
								<div><div class="calendar_item_image"><img src="images/event_3.jpg" alt=""></div></div>
								<div class="calendar_item_time">
									<div>17:00</div>
									<div>Auditorium</div>
								</div>
								<div class="calendar_item_text">
									<div>Conference calls</div>
									<div>08 AM - 04 PM</div>
									<div>Speaker: Daniel Hill</div>
								</div>
							</div>

							<!-- Calendar Item -->
							<div class="calendar_item d-flex flex-row align-items-center justify-content-start">
								<div><div class="calendar_item_image"><img src="images/event_4.jpg" alt=""></div></div>
								<div class="calendar_item_time">
									<div>20:00</div>
									<div>Auditorium</div>
								</div>
								<div class="calendar_item_text">
									<div>Drinks and dinner</div>
									<div>08 AM - 04 PM</div>
									<div>Speaker: Daniel Hill</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-xl-6 calendar_col">
					<div class="calendar_container">
						<div class="calendar_title_bar d-flex flex-row align-items-center justify-content-start">
							<div><div class="calendar_icon"><img src="images/calendar.svg" alt=""></div></div>
							<div class="calendar_title">23 april events calendar</div>
						</div>
						<div class="calendar_items">
							
							<!-- Calendar Item -->
							<div class="calendar_item d-flex flex-row align-items-center justify-content-start">
								<div><div class="calendar_item_image"><img src="images/event_5.jpg" alt=""></div></div>
								<div class="calendar_item_time">
									<div>14:00</div>
									<div>Auditorium</div>
								</div>
								<div class="calendar_item_text">
									<div>Business 101</div>
									<div>08 AM - 04 PM</div>
									<div>Speaker: Daniel Hill</div>
								</div>
							</div>

							<!-- Calendar Item -->
							<div class="calendar_item d-flex flex-row align-items-center justify-content-start">
								<div><div class="calendar_item_image"><img src="images/event_6.jpg" alt=""></div></div>
								<div class="calendar_item_time">
									<div>15:00</div>
									<div>Auditorium</div>
								</div>
								<div class="calendar_item_text">
									<div>About technology</div>
									<div>08 AM - 04 PM</div>
									<div>Speaker: Daniel Hill</div>
								</div>
							</div>

							<!-- Calendar Item -->
							<div class="calendar_item d-flex flex-row align-items-center justify-content-start">
								<div><div class="calendar_item_image"><img src="images/event_7.jpg" alt=""></div></div>
								<div class="calendar_item_time">
									<div>17:00</div>
									<div>Auditorium</div>
								</div>
								<div class="calendar_item_text">
									<div>Conference calls</div>
									<div>08 AM - 04 PM</div>
									<div>Speaker: Daniel Hill</div>
								</div>
							</div>

							<!-- Calendar Item -->
							<div class="calendar_item d-flex flex-row align-items-center justify-content-start">
								<div><div class="calendar_item_image"><img src="images/event_8.jpg" alt=""></div></div>
								<div class="calendar_item_time">
									<div>20:00</div>
									<div>Auditorium</div>
								</div>
								<div class="calendar_item_text">
									<div>Drinks and dinner</div>
									<div>08 AM - 04 PM</div>
									<div>Speaker: Daniel Hill</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Call to action -->

	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/cta_1.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content text-center">
						<div class="cta_title">Get your tickets now!</div>
						<div class="button cta_button"><a href="#">Find out more</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div th:include="footer.html" xmlns:th="http://www.w3.org/1999/xhtml">
</div>
	<!-- Footer -->

